    .bx-wrapper .bx-viewport { 
		background-image: url('../images/bkgrd.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		height: 550px !important;
	}

	.bxslider{
		margin: 2em 13em;
	}

	.pulse {
        overflow: initial;
        position: relative;
    }

    .pulse::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: powderblue;
        border-radius: inherit;
        -webkit-transition: opacity .3s, -webkit-transform .3s;
        transition: opacity .3s, -webkit-transform .3s;
        transition: opacity .3s, transform .3s;
        transition: opacity .3s, transform .3s, -webkit-transform .3s;
        -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
        animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
        z-index: 99;
    }

    @-webkit-keyframes pulse-animation {
        0% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        50% {
            opacity: 0;
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
        }

        100% {
            opacity: 0;
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
        }
    }

    @keyframes pulse-animation {
        0% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        50% {
            opacity: 0;
            -webkit-transform: scale(1.5);
            transform: scale(1.5)
        }

        100% {
            opacity: 0;
            -webkit-transform: scale(1.5);
            transform: scale(1.5)
        }
    }

    @media screen and (max-width: 550px){
        .card-wrapper.alt .btnlogin {
            width: 80px;
            height: 80px;
            font-size: 34px;
            line-height: 80px;
        }
    }

	@media screen and (max-device-width: 1024px)
	{
		.bxslider
		{
			margin: 2em 4em !important;
		}
	}